html {
	color-scheme: light;
}
body {
	margin: 0;
	overflow: hidden;
	/* width: calc(100vw - 1px); */
	/* height: 100vh; */
	/* border-right: 1px solid #fff; */
}
.box {
	position: absolute;
	/* top: 90%; */
	/* bottom: 50vh; */
	margin: 0;
	font-size: 10vmin;
	font-family: monospace;
}
.indicator {
	position: absolute;
	background: #fff2;
	right: 0;
	width: 100vw;
	margin: 0;
	font-size: 5vmin;

	/* overflow-x: visible; */
	/* text-align: right; */
	/* left: 0; */
	direction: rtl;
}
.sign {
	word-break: keep-all;
}
.newest.indicator {
	background: #fff3;
}
